<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body class="container">
    <!-- the main layout -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Welcome</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/students">Students</a></li>
                </ul>
            </div>
        </div>
    </nav> <!-- end nav-bar -->
    <img src="/images/img_the_scream.jpg" width='110' height='130' />
    {{{body}}}
    <footer class="footer">
        &nbsp; &nbsp; &copy; Student stuff.
    </footer>
</body>

</html>