<h3>Student Info</h3>
<table class="table">
   <thead>
      <tr>
         <th>Name</th>
         <th>Midterm</th>
         <th>Final</th>
      </tr>
   </thead>
   <tbody>
      {{#each classData}}
      <tr>
         <td>{{name}}</td>
         <td>{{midterm}}</td>
         <td>{{final}}</td>
      </tr>
      {{/each}}
   </tbody>
</table>