<h3>Student Info</h3>
<table class="table">
<tr><th>Name</th><th>Midterm</th><th>Final</th></tr>
{{#each classData}}
   <tr><td>{{name}}</td><td>{{midterm}}</td><td>{{final}}</td></tr>
{{/each}}
</table>